body {
    background: darkslategray;
    overflow: hidden;
}

.boss {
    position: absolute;
    left: 43%;
    top: 50%;
    font-size: 50px;
    color: red;
    font-family: Rubik, sans-serif;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    cursor: none;
    user-select: none;
    opacity: 0;
    z-index: -1;
}

.win {
    position: absolute;
    left: 48%;
    top: 50%;
    font-size: 50px;
    color: orange;
    font-family: Rubik, sans-serif;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    cursor: none;
    user-select: none;
    opacity: 0;
    z-index: -1;
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

canvas {
    cursor: none;
}

.img-life1, .img-life2, .img-life3 {
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

.life {
    user-select: none;
    padding: 0px;
    display: flex;
    font-family: Rubik, sans-serif;
}

.text-life {
    padding: 10px;
    color: white;
}

.die {
    user-select: none;
    z-index: -1;
    opacity: 0;
    transition: 2s;
    color: white;
    font-size: 70px;
    font-family: Rubik, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.takeLife {
    cursor: pointer;
    z-index: -20;
    opacity: 0;
    transition: 2s;
    color: white;
    font-size: 70px;
    font-family: Rubik, sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.tryAgain {
    cursor: pointer;
    z-index: -20;
    opacity: 0;
    transition: 2s;
    color: white;
    font-size: 70px;
    font-family: Rubik, sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.timer__level {
    background-color: darkslategray;
    width: 40px;
    height: 500px;
    border: 1px solid orange;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 7px;
    user-select: none;
    overflow: hidden;
}

.rotate {
    position: absolute;
    transform: rotate(-90deg);
    left: 10px;
    top: 20px;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    color: white;
}

.rotate-start {
    position: absolute;
    transform: rotate(-90deg);
    left: 0;
    top: 460px;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    color: white;
}

.level {
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: Rubik, sans-serif;
    color: white;
}

.line {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    border-radius: 0px;
    left: 0px;
    top: 0px;
    transform: translate(0, 100%);
    animation-name: startTransform;
    animation-duration: 90s;
    animation-fill-mode: forwards;
}

.cash {
    font-size: 25px;
    position: absolute;
    top: 1.5%;
    left: 86%;
    color: rgb(11, 185, 11);
    font-family: Rubik, sans-serif;
}

@keyframes startTransform {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0%);
    }
}

@keyframes startTransform2 {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0%);
    }
}

.endHeart {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.671);
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes endHeart {
    0%{
        transform: translate(0, 100%);
    }
    100%{
        transform: translate(0, 0%);
    }
}

@keyframes startHeart {
    0%{
        transform: translate(0, 0%);
    }
    100%{
        transform: translate(0, 100%);
    }
}

@keyframes boss {
    0%{
        transform: scale(0%);
        opacity: 1;
        z-index: 1;
    }
    100%{
        transform: scale(600%);
        opacity: 0;
        z-index: -1;
    }
}
